<header
  class="flex justify-between bg-indigo-600 p-5 items-center text-slate-200"
>
  <nav class="flex space-x-3">
    <h2>ShareWithLove</h2>
    <a routerLink="/" class="navlink">{{ "HEADER.BOOKS" }}</a>
    <a *ngIf="user | async" routerLink="/inventory" class="navlink">{{
      "HEADER.INVENTORY"
    }}</a>
    <a *ngIf="user | async" routerLink="/reports" class="navlink">{{
      "HEADER.REPORTS"
    }}</a>
  </nav>
  <div class="space-x-2 flex">
    <ng-container
      class="flex space-x-2"
      *ngIf="!(user | async); else userHeader"
    >
      <a routerLink="/auth/login" class="btn-indigo">Login</a>
      <a routerLink="/auth/register" class="btn-indigo-alter">Register</a>
    </ng-container>
    <ng-template #userHeader class="flex space-x-2">
      <a routerLink="/user" class="my-auto hover:text-white cursor-pointer">
        {{ (user | async)?.username }}
      </a>
      <button (click)="logout()" class="btn-indigo-alter">Logout</button>
    </ng-template>
  </div>
</header>
<main class="container mx-auto">
  <router-outlet></router-outlet>
</main>
