<div class="mt-6 space-y-3 flex flex-col">
  <div class="space-x-2 self-end flex">
    <input
      type="text"
      [placeholder]="'BUSCAR'"
      class="text-black outline-none focus:ring-2 focus:ring-teal-900 text-lg pl-2"
      (keyup)="filterList()"
      #inputSearch
    />
    <button
      class="text-white bg-teal-600 hover:bg-teal-800 p-2 rounded-lg flex"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>

      {{ "BUSCAR" }}
    </button>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-slate-200">
        <tr>
          <th scope="col" class="px-6 py-3">
            {{ "NOMBRE" }}
          </th>
          <th scope="col" class="px-6 py-3">
            {{ "TALLA" }}
          </th>
          <th *ngIf="user | async" scope="col" class="px-6 py-3">
            {{ "ACCION" }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let cloth of clothsFiltered"
          class="bg-white border-b -800 hover:bg-gray-50"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ cloth.name }}
          </th>
          <td class="px-6 py-4">{{ cloth.size }}</td>

          <td *ngIf="user | async" class="px-6 py-4 space-x-2 flex">
            <button
              [swal]="{
                title: 'BUY.TITLE',
                text:('ACTIONS.PRICE'),
                showDenyButton: true,
                denyButtonText: 'BUY.DENY',
              }"
              (confirm)="receivecloth(cloth.id ?? '')"
              class="bg-teal-400 text-white py-1 px-4 rounded-lg hover:bg-teal-700 flex space-x-2 text-sm font-semibold justify-center items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>
              <p>{{ "ACTIONS.BUY" }}</p>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
